.accessibility-menu {
    position: fixed;
    bottom: 15px;
    left: 0px;
    z-index: 1000;
}

.accessibility-icon {
    background-color:#f0f0f0;
    border: none;
    margin-bottom: 300px;
    cursor: pointer;
    margin-left: -20px;
}

.accessibility-options {
    position: absolute; 
    bottom: 50px; 
    left: 0; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 1001;
    width: 120px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.accessibility-options button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
}

.accessibility-options button:hover {
    background-color: #dddddd;
}

.accessImg{
    width: 45px;
    height: auto;
    margin-bottom: -15px;
}
